<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container text-center mt-5">
    <h1>Hello World!</h1>
    <iframe src="https://giphy.com/embed/Guccz4Oq87bncsm1j4" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
</body>
</html>